<h1>Be a dear and enter a new webpage.</h1>

<form action="/links" method="post">
  <label for="title">
    Webpage Title:
    <input type="text" name="title">
  </label>
  <label for="url">
    Webpage URL:
    <input type="text" name="url">
  </label>
  <input type="submit" value="Submit">
</form>
